/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9 
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/* 
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: 
   ========================================================================== */

#nko-badge {
  position: absolute;
  left: 0;
  top: 0;
}

h1 {
  color: #402020;
}

.highlight {
    color: #DD646E;
}

h2 {
  color: #402020;
  font-family: 'Kranky', cursive;
}

li {
  list-style-type: none;
}

.skript .channel > * {
  display: none;
}

.skript .channel.choose input, .skript .channel.fixed span {
  display: block;
}

.skript input.channel {
  width: 100px;
}

.skript td {
  padding: 0px 10px 5px;
}

.skript a {
  padding: 2px 5px 2px 5px;
  background-color: #ff646e;
  border-radius: 3px;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
  color: white;
  font-weight: bold;
  text-shadow: 0px -1px 0px #F22;
  cursor: pointer;
  user-select: none;
}

ul {
  margin: 0;
  padding: 0;
}

ul.vote-casted a {
  display: none;
}

.voted-for .show-info {
  font-weight: bold;
}

.votes {
}

.vote-info-text {
  text-align: right;
}

.vote-bar-container {
  height: 20px;
  width: 400px;
  background: white;
  left: 85px;
}

.vote-bar {
  border-radius: 2px;
  box-shadow: 0px 0px 1px rgba(10,10,10,0.4);
  height: 16px;
  width: 0px;
  background-color: #FFF;
  background-image: -webkit-linear-gradient(-45deg, #FAA 25%, transparent 25%, transparent 50%, #FAA 50%, #FAA 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(   -45deg, #FAA 25%, transparent 25%, transparent 50%, #FAA 50%, #FAA 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(    -45deg, #FAA 25%, transparent 25%, transparent 50%, #FAA 50%, #FAA 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(     -45deg, #FAA 25%, transparent 25%, transparent 50%, #FAA 50%, #FAA 75%, transparent 75%, transparent);
  background-image: linear-gradient(        -45deg, #FAA 25%, transparent 25%, transparent 50%, #FAA 50%, #FAA 75%, transparent 75%, transparent);
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
}

#templates { display: none; }

#show.running .current-show, #show.stopped .next-show { display: block; }
#show .current-show, #show .next-show { display: none; }

#show {
  display: inline-block;
  width: 500px;
  min-height: 320px;
  vertical-align: top;;
}

#robocolown {
  display: block;
  position: absolute;
  right: 85px;
  top: 0;
  width: 400px;
  height: 400px;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  background: url('../img/roboclown.400.png') no-repeat 0px 0px;
  -webkit-animation-name: dance;
  -webkit-animation-duration: 15s;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
}

footer {
  text-align: center;
  color: #402020;
  white-space: nowrap;
}

footer .border {
  margin: 100px 0 0 0;
  padding: 10px;
}

.border {
  text-align: center;
  color: #402020;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  font-size: 20px;
  letter-spacing: 0.7em;
}

.border .no-space {
  letter-spacing: 0;
}

footer li {
  display: inline;
  font-size: 40px;
  padding: 0 40px 0 32px;
}

footer li:last-of-type {
  border-right: none;
  font-size: 10px;
  white-space: normal;
}

footer li:last-of-type .box {
  position: relative;
  display: inline-block;  
}
footer li:last-of-type a, footer li:last-of-type a {
  font-family: sans-serif;
}

footer a , footer a:visited {
  font-family: 'JFRingmasterRegular' Georgia serif;
  color: #402020;
  text-decoration: none
}

footer a:hover {
  color: rgba(64,32,32, 0.7);
}


/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

/* JF Ringmaster: https://www.dafont.com/font.php?file=jf_ringmaster&text=WANDERCIRCUS */
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 28, 2011 */
@font-face {
    font-family: 'JFRingmasterRegular';
    src: url('font/jfringmaster-webfont.eot');
    src: url('font/jfringmaster-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/jfringmaster-webfont.woff') format('woff'),
         url('font/jfringmaster-webfont.ttf') format('truetype'),
         url('font/jfringmaster-webfont.svg#JFRingmasterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
}



header.background {
        background: #fac2c9; /* Old browsers */
    background: -moz-linear-gradient(top, #fa96a0 0%, #fac2c9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa96a0), color-stop(100%,#fac2c9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fa96a0 0%,#fac2c9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fa96a0 0%,#fac2c9 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fa96a0 0%,#fac2c9 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa96a0', endColorstr='#fac2c9',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #fa96a0 0%,#fac2c9 100%); /* W3C */

}

h1 {
    font-family: 'JFRingmasterRegular' Georgia serif;
}

header h1 {
    font-size: 64pt;
    text-align: center;
    font-family: 'JFRingmasterRegular' Georgia serif;
    margin: 0px;
}

header h1 .fix-kerning {
    letter-spacing: -0.2em;
}
header h1 .fix-kerning2 {
    letter-spacing: -0.05em;
}


#main {
    position:relative;
    width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    min-height: 530px;
}

@-webkit-keyframes dance {
    88% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    90% {
        -moz-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    92% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    94% {
        -moz-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    96% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    98% {
        -moz-transform: rotate(60deg);
        -webkit-transform: rotate(60deg);
        transform: rotate(60deg);
    }
    100% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

}

#lightbox-background {
    display: none;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    opacity: .80;
    z-index: 9999;
}
.lightbox {
    display: none;
    background: #fff;
    padding: 20px;
    border: 20px solid #fff;
    float: left;
    position: fixed;
    top: 50%; left: 50%;
    z-index: 99999;
    -webkit-box-shadow: 0px 0px 20px #000;
    -moz-box-shadow: 0px 0px 20px #000;
    box-shadow: 0px 0px 20px #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#about.lightbox {
    width: 600px;
    height: 470;
}

#about.lightbox, p {
    margin: 0px;
}

#about.lightbox, h1 {
    margin: 0px;
    margin-bottom: 5px;
}

#about.lightbox, h1.faq {
    margin-top: 15px
}

#about.lightbox, h3 {
    margin-bottom: 5px;
}

